In [15]:
#This is a comment.

In [33]:
print('Hello world!')

Hello world!

In [23]:
print(1)

1.1

In [27]:
print(1 + 7)
print(7 - 1)
print(36 / 9)
print(3 * 3)

8
6
4.0
9

In [44]:
print(36 % 10)
print(36 // 10)
print(str(36 // 10) + ' remainder ' + str(36 % 10))
print(3**2)

6
3
3 remainder 6
9

In [36]:
print(1 + 1)
print(float('1') + 1)

2
2.0

In [62]:
name = 'Sam'


height = 71
unit = 'inches'

name = 'Vrushank'

print(name + ' is ' + str(height) + unit + ' tall')

Vrushank is 71inches tall

In [65]:
print(name + ' is ' + str(height) + ' ' + unit + ' tall')
print('{} is {} {} tall.'.format(name, height, unit))
print(f'{name} is {height} {unit} tall')
print(f'{name} is {height // 12} feet and {height % 12} inches tall.')

Vrushank is 71 inches tall
Vrushank is 71 inches tall.
Vrushank is 71 inches tall
Vrushank is 5 feet and 11 inches tall.

In [74]:
def formatHeight(inches):
    feet = inches // 12
    remainder = inches % 12
    return f'{feet} feet and {remainder} inches'

print(formatHeight(72))

6 feet and 0 inches

In [75]:
print(f'{name} is { formatHeight(80) }')

Vrushank is 6 feet and 8 inches

In [88]:
sam = {'name': 'Sam', 'height': 72}
print(sam)
print(sam['name'])
print(sam['height'])
print(formatHeight(sam['height']))

{'name': 'Sam', 'height': 72}
Sam
72
6 feet and 0 inches

In [89]:
sam['favorite artist'] = 'Mariah Carey'
sam['height'] = 80

#print(sam[1])

In [116]:
print(True)
print(False)
print(1 + 1 == 2)
print(1 + 1 == 3)
print(1 + 1 != 3)
print(1 + 1 >= 3)
print(0 == False)
print(1 == True)
print(2 == True)
print(sam['height'] >= 82)
print('favorite artist' not in sam)
print(1 - 1 == -1 and 1 + 1 == 2)

True
False
True
False
True
False
True
True
False
False
False
False

In [117]:
#CHALLENGE: what's another way we could write this?
def formatHeight2 (person):
    height = person['height']
    feet = height // 12
    remainder = height % 12
    output = ''
    
    if remainder == 0:
        output = f'{feet} feet'
    else: 
        output = f'{feet} feet and {remainder} inches'
    return output

sam['height'] = 72
print(formatHeight2(sam))

6 feet

In [118]:
classmates = ['Vrushank', 'Yuqing', 'Emilie', 'Nina', 'Nelson', 'Dan', 'Noreen']
print(len(classmates))
print('Vrushank' in classmates)
print('Sam' in classmates)
classmates.append('Sam')
print('Sam' in classmates)

7
True
False
True

In [ ]:
#NOTE: the range is subjective.
#mariah = {
#    'name':'Mariah Carey',
#    'age':'unknown',
#    'has the range':True
#}

#taylor = {
#    'name':'Taylor Swift',
#    'age':29,
#    'has the range':False
#}

#ariana = {
#    'name':'Ariana Grande',
#    'age':26,
#    'has the range':True
#}

#nicki = {
#    'name':'Nicki Minaj',
#    'age':36,
#    'has the range':False
#}

#rihanna = {
#    'name':'Rihanna',
#    'age':31,
    'has the range':True
}

barbra = {
    'name':'Barbra Streisand',
    'age':77,
    'has the range':True
}

In [ ]:
artists = [mariah, taylor, ariana, nicki, rihanna]